body{
    background-image: url('/dog-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-img {
    height: 100%;
    width: auto ;
}
 



.main-login-form {
    background-color: rgb(206, 209, 209);
    border: radius 10px;
    box-shadow: 0px 0px 10px 0xp #000;
    padding: 20px;
    width: 50%;
}