/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

/*Style*/
body        {
background-image: url('https://images.unsplash.com/photo-1544568100-847a948585b9?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background: no-repeat;
}
nav h1{
font-size: 35px;
font-family: 'Beth Ellen', cursive;
background-color: white;
padding-left:25px;
}
nav img{
filter: invert(100%);
background-color:white;
border-radius: 50px;
animation: account2 .25s;
position:relative;
margin-top: -90px;
margin-left:95%;   
}
nav img:hover {
padding:10px;
animation: account1 .25s;
margin-top: -100px;
margin-left:94.25%;
}
center {   
backdrop-filter: blur(50px);
border-radius: 10px;
margin-left: 525px;
margin-right: 525px;
}
center form {
padding: 25px;
}
center form input {
border-radius: 5px;    
}
center form a{
margin-bottom -25px;
padding: 5px;    
background-color: lightgray;
border-radius: 10px;
font-size: 17.5px;
text-decoration: none;
}
/*Animations*/
@keyframes account1 {
    0%{
        padding: 0px;
        margin-top: -90px;
        margin-left:95%;
    }
    100%{
        padding: 10px;
        margin-top: -100px;
        margin-left:94.25%;
    {
}
@keyframes account2 {
    0%{
        padding: 10px;
        margin-top: -100px;
        margin-left:94.25%;
    }
    100%{
        padding: 0px;
        margin-top: -90px;
        margin-left:95%;
    }
}